
<div class="list-group list_group" *ngFor="let task of tasks">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{task.name}}</h5>
      <a class="ts1" *ngIf="!openDesc" (click)="shodDesc(task)" >Посмотреть</a>
      <a class="ts1" *ngIf="openDesc"  (click)="closeDesc(task)">Посмотреть</a>      
      <a class="ts1" (click)="edit(true,task)" data-toggle="modal" data-target="#changeModal">Редактировать</a>
      <small>{{task.data}}</small>
    </div>
    <p id={{task.name}} class="ts">{{task.description}}</p>
  </a>
</div>
<form #form="ngForm" class="list_group new_task">
    <div class="form-group ">
      <div class ="lab">
      <label class="lab">Добавить задачу:</label>
    </div>
      <label >Название задачи:</label>
      <input  class="form-control"  name="name" ngModel>
    </div>
    <div class="form-group">
      <label >Описание задачи:</label>
      <input class="form-control" name="description" ngModel>
    </div>
    <div class="form-group">
        <label >Срок выполнения:</label>
        <input class="form-control" placeholder="DD.MM.YYYY" name="data" ngModel>
      </div>
    <button type="submit" (click)="onFormSubmit(form.value);form.reset()" class="btn btn-primary">Submit</button>
  </form>
  <form *ngIf="openForm"  class="modal_form">
  <div class="modal" tabindex="-1" role="dialog" id="changeModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <input [(ngModel)]="selected.name" name="name"/>
            <input class="in" [(ngModel)]="selected.data" name="data"/>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <input [(ngModel)]="selected.description" name="description"/>
 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="edit(false)" data-dismiss="modal">Сохранить изменения</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </form>
