.ts {
    visibility: hidden;
  }
  .ts1:hover + .ts {
    visibility: visible
  }
 .ts1 {
     font: xx-small;
 }
 .list_group {
    width: 50%;
    margin: auto;
}
.new_task{
    margin-top: 2.5%;
}
.lab{
    text-align: center;
}
.in{
    margin: 0 0 0 2%;
}